.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.register {
  text-align: left;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  height: 500%;
  background-color: aqua;
}

.usersList {
  text-align: center;
  color: darkturquoise;
}

.add {
  text-align: left;
  width: 100%;
  max-width: 500px;
}
